div .activeUserMenu {
  display: block;
}

.userNavLink {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: rgb(43, 88, 114);
  }
}
