div .activeBar1 {
  background-color: rgb(255, 255, 255);
  transform: translateY(15px) rotateZ(45deg);
  transition: 0.3s ease;
}

div .activeBar2 {
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: 0.3s ease;
}

div .activeBar3 {
  background-color: rgb(255, 255, 255);
  transform: translateY(-15px) rotateZ(-45deg);
  transition: 0.3s ease;
}
